.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.custom-map {
  position: relative;
}

.asset-div {
  overflow-y: scroll;
  position: absolute;
  top: 2.5%;
  right: 10px;
  width: 30%;
  height: 95%;
  z-index: 99;
  flex-direction: row;
  display: flex;
  gap: 5px;
}

.asset-card {
  flex-direction: column;
  display: flex;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.close-asset-card {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
}

.close-asset-card:hover {
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
}

.grid-radio {
  overflow-y: scroll;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 99;
  flex-direction: row;
  display: flex;
  gap: 5px;
  padding: 10px;
  height: 200px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}